.emailList{
    flex: 1;
    overflow: scroll;
}

.emailList::-webkit-scrollbar{
    display: none;
}

.emailList_setting{
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    border-bottom: 1px solid whitesmoke;
    background-color: white;
    z-index: 999;
    padding-right: 10px;
}

.emailList_section{
    display: flex;
    position: sticky;
    z-index: 999;
    top: 0;
    border-bottom: 1px solid whitesmoke;
    background-color: white;

}

.emailList_List{
    padding-bottom: 20%;
}